@page "/"

<div class="todo-container">
    <h1>desktop-task-list!</h1>
    <div class="todo-input">
        <input type="text" @bind="todoInput"/>
        <button @onclick="">Add</button>
    </div>
</div>

@code
{
    public string todoInput {get; set;}

    
}
